*{
    margin: 0;
    padding: 0;
}

.topBar{
    background-color: rgb(47, 81, 83);
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.logo{
    max-width: 1100px;
    margin: auto;
   
}
.logo h1{
    padding: 40px 0px;
    text-transform: uppercase;
    color: rgb(47, 81, 83);
    margin-left: 30px;
}

.menuBar{
    max-width: 1100px;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
}
.menuBar ul{
    position: relative;
    display: inline-table;
    list-style: none;
    
}
.menuBar ul li{
    float: left;
}

.menuBar ul li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
}
.menuBar ul li a:hover{
    color: rgb(4, 160, 165);
}

.slideBar{
    max-width: 1100px;
    margin: auto;
    height: 500px;
    line-height: 500px;
    display: flex;
}
.img{
    background: rgb(164, 214, 216);
    height: 450px;
    text-align: justify;
    width: 1100px;
    margin: auto;
    box-shadow: 0px 2px 5px 0px rgb(90, 90, 90);
    text-align: center;
}


.product-text{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    color: rgb(47, 81, 83);
}
.product-text p{
    letter-spacing: 2px;
    font-size: 20px;
}

.new-arrivals{
    max-width: 1100px;
    margin: auto;
    color: rgb(47, 81, 83);
    margin-top: 40px;
}

.new-arrivalsImg{
    max-width: 1100px;
    margin: auto;
    
}
.new-arrivalsImg ul{
    
    text-align: justify;
    
}
.new-arrivalsImg ul li{
    width: 260px;
    height: 350px;
    border: 1px solid black;
    background:  rgb(222, 234, 235);
    border-radius: 10px;
    list-style: none;
    display: inline-block; 
    vertical-align: top;
    
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }