*{
    margin: 0;
    padding: 0;
   
}
header{
    background: rgb(236, 238, 238);
}

.topBar{
    background-color: rgb(47, 81, 83);
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    
}
.logoback{
    background: white;
}
.logo{
    max-width: 1100px;
    margin: auto;
}


.logo h1{
    max-width: 1100px;
    margin: auto;
    padding: 40px 0px;
    text-transform: uppercase;
    color: rgb(47, 81, 83);
    margin-left: 30px;
}
.menuBarback{
    background: white;
}
.menuBar{
    background: white;
    width: 100%;
    position: absolute;
    text-align: center;
    border-bottom: 1px solid rgb(128, 128, 128);
    
}


.search{
    position: relative;
    
    top: 12px;
    
    width: 25px;
    margin-left: 20px;
}
.menuBar ul{
    
    width: 1100px;
    position: relative;
    display: inline-table;
    list-style: none;
    
}
.menuBar ul li{
    float: left;
    
}

.menuBar ul li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 14px;
}
.menuBar ul li a:hover{
    color: rgb(4, 160, 165);
}

.slideBar{
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.img{
    width: 1000px;
}


.product-text{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    color: rgb(47, 81, 83);
    margin-bottom: 50px;
}
.product-text p{
    letter-spacing: 2px;
    font-size: 25px;
}

.new-arrivals{
    max-width: 1100px;
    margin: auto;
    color: rgb(47, 81, 83);
    margin-top: 20px;
    
}

.new-arrivals h1{
    margin-bottom: 20px;
}

.new-arrivalsImg{
    max-width: 1100px;
    margin: auto;
}

.new-arrivalsImg ul{
    
    text-align: justify;
    
}
.new-arrivalsImg ul li{
    width: 260px;
    height: 350px;
   background: white;
    border-radius: 10px;
    list-style: none;
    display: inline-block; 
    vertical-align: top;
    text-align: center;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.gl{
    width: 250px;
    margin-top: 20px;
}
.new-arrivalsImg ul li h1{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(16, 119, 124);
}
.new-arrivalsImg ul li p{
    color: #727272;
    margin-bottom: 10px;
}
.new-arrivalsImg ul li p2{
    font-weight: bold;
}

.gl2{
    width: 250px;
    margin-top: 10px;
}


.snsPageback{
    background: white;
}
.snsPage{
    margin-top: 100px;
    
}

.snsPage h1{
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.snsPageImg{
    margin-top: 10px;
    
}

.snsimg{
    position: absolute;
    width: 450px;
    height: auto;
    transform: translate( -50%, -50%);
    top: 50%;     
    left: 50%;
}

.snsPageImg ul{
    max-width: 1100px;
    margin: auto;
    text-align: justify;
    
    
}
.snsPageImg ul li{
    position: relative;
     overflow: hidden;
    width: 260px;
    height: 245px;
    
    list-style: none;
    display: inline-block; 
    vertical-align: top;
    text-align: center;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }

  .Informationback{
      background: white;
  }
  

  .Information ul{
    max-width: 1100px;
    margin: auto;
    text-align: justify;
  }

  .Information ul li{
    height: 290px;
    
    list-style: none;
    display: inline-block; 
    vertical-align: top;
    padding: 10px;
  }
  .Information ul li h1{
      font-size: 20px;
      color: rgb(47, 81, 83);
  }
  .Information ul li P{
      font-size: 15px;
      color:  rgb(119, 119, 119);
  }
  .button{
      width: 100%;
      height: 30px;
      border-radius: 15px;
      outline: none;
      border: 1px solid rgb(167, 167, 167);
      padding: 0px 20px ;
  }
 

.bottomtxt{
   
    background-color: #eceaea;
    padding: 50PX 0PX;
}

.bottomtxt P{
    max-width: 1100PX;
    margin: auto;
    color:  rgb(119, 119, 119);
}