*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
   background: rgb(40, 69, 87);
    
}
.topback{
    
    background-color: rgba(0, 0, 0, 0.801);
}

.toptop{
    max-width: 1000px;
    margin: auto;
    line-height: 100px;
   
}

.img{
    vertical-align: middle;
    margin-right: 20px;
    width: 150px;
    
}

.toptop a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    
}

.toptap{
    margin-top: -30px;
    display: block;
    float: right;
}

.btn{
    margin-right: 20px;
    padding: 3px 10px;
    background-color: rgb(100, 133, 29);
    border: none;
    color: rgb(203, 223, 186);
    font-size: 12px;
}
.btn:hover{
    color: white;
}


.toptap a{
    font-size: 11px;
}

.topimgs{
    
    background-image: url(gameback.jpg);
    background-position: center;
    background-size: cover;
    width: 1100px; 
    margin: auto;
    height: 400px;
    display: flex;  
    
     position: relative;
    
}

.toptitle{
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 250px;
    text-transform: uppercase;
    margin-left: 200px;
   
}
.toptitle h1{
    text-shadow: 0px 2px 5px black;
}
.control{
    margin-top: 10px;
    padding: 5px 10px;
    background: rgb(148, 197, 243);
    border: none;
    text-transform: uppercase;
    box-shadow: 1px 5px 5px 1px black;
}

/*-------------------------------------------------------------*/





.topbtn{
    width: 1000px;
    margin: auto;
    background: #277aa0c7;
    margin-top: 100px;
    
}

.topbtn ul{
    position: relative;
}

.topbtn ul li{
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
}
.topbtn ul li:first-child{
    margin-left: 30px;
}

.topbtn ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-right: 25px;
    border-right:1px solid black;
}
.end{
    margin-left: 160px;
}



.input_text{
    border-radius: 5px;
    background: rgba(30, 68, 92, 0.829);
    outline: none;
    border: 0;
    padding-left: 10px;
    border: 2px solid rgb(67, 85, 99);
    
}
.input_text:hover{
    border: 2px solid rgb(32, 168, 221);
}

.button{
    width: 25px;
    position: relative;
    top: 6px;
  }


/*------------------------------------------*/



.slidepage{
    max-width: 1100px;
    margin: auto;
    height: 450px;
   
}
.slidepage p {
    margin-left: 10px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagebox{
    width: 1100px;
    height: 350px;
    box-shadow: 0 0 7px 0px #000;
    display: flex;
    margin: auto;
    position: relative;
}


.slideimg{
    background-size: cover;
    background-image: url(JdaFGshnYn28Lsoxvewwhb.jpg);
    box-shadow: 0 0 10px 5px #000;
    
    height: 350px;
     width: 750px;
     margin-right: 10px;
}
.str{
    height: 350px;
    width: 350px;
}
.app-name{
    color: white;
    height: 80px;
    align-items: center;
    
    display: flex;
    font-size: 30px;
}
.screenshots{
    
    height: 170px;
   
}
.screenshots > div{
    margin-right: 13px;
    margin-top: 13px;
    height: 69px;
    width: 156px;
    display: inline-block;
    background-size: cover;
}

.arrow-left{
    background-attachment: scroll;
    background-size: auto;
    display: block;
    position: absolute;
    background-origin: padding-box;
    cursor: pointer;
    background: -webkit-linear-gradient(right, 
    rgba(0,0,0,0)5%,rgba(0,0,0,0.3)95%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    left: -45px;
    top: 122px;
    
}
.arrow-left:hover {
    background: -webkit-linear-gradient(right, 
    rgba(0, 0, 0, 0)5%,rgb(95, 161, 192)95%);
}

.arrow-left > div {
    background-image: url(arrowl.png);
    width: 20px;
    height: 30px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    display: block;
}



.arrow-right{
    background-attachment: scroll;
    background-size: auto;
    display: block;
    position: absolute;
    background-origin: padding-box;
    cursor: pointer;
    background: -webkit-linear-gradient(left, 
    rgba(0,0,0,0)5%,rgba(0,0,0,0.3)95%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    right: -45px;
    top: 122px;
    
}
.arrow-right:hover {
    background: -webkit-linear-gradient(left, 
    rgba(0, 0, 0, 0)5%,rgb(95, 161, 192)95%);
}

.arrow-right > div {
    background-image: url(arrow.png);
    width: 20px;
    height: 30px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    display: block;
}

/*-------------------------------------------------------------------*/

.backcolor{
    background:-webkit-linear-gradient(left, 
    rgba(3, 3, 3, 0.616)5%,rgb(10, 91, 129)95%);
}

.slidepage2{
    max-width: 1100px;
    margin: auto;
    height: 500px;
    
}
.slidepage2 p {
    
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.text1{
    margin-bottom: 20px;
}
.text1 p{
    font-size: 30px;
    margin-bottom: -7px;
    color: rgb(94, 150, 214);
}
.text1 p2{
    color: rgb(94, 150, 214);
    
}

.slideimg2{
    background-size: cover;
    background-image: url(11.jpg);
    box-shadow: 0 0 10px 5px #000;
    height: 350px;
     width: 750px;
     margin-right: 10px;
}

.screenshots2{
    
    height: 170px;
   
}
.screenshots2 > div{
    margin-right: 13px;
    margin-top: 13px;
    height: 69px;
    width: 156px;
    display: inline-block;
    background-size: cover;
}

.reason{
    color: white;
    font-size: 25px;
}
.button2{
    padding: 5px 10px;
    background: rgb(129, 129, 129);
    color: white;
    border: 0;
    font-size: 15px;
    border-radius: 2px;
}

.thumbs{
    text-align: center;
    
}
.thumbs > div{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    display: inline-block;
    background-color: rgb(173, 173, 173);
    height: 10px;
    width: 20px;
    margin-top: 20px;
}
.thumbs > div:hover{
    background-color: white;
}



/*------------------------------------------------------------------------*/



.backcolor{
    background:-webkit-linear-gradient(left, 
    rgba(3, 3, 3, 0.616)5%,rgb(33, 46, 80)95%);
}

.slidepage3{
    max-width: 1100px;
    margin: auto;
    height: 680px;
    
}
.slidepage3 p {
    
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.text1{
    margin-bottom: 20px;
}
.text1 p{
    font-size: 30px;
    margin-bottom: -7px;
    color: rgb(94, 150, 214);
}
.text1 p2{
    color: rgb(94, 150, 214);
    
}

.pagebox2{
    width: 1100px;
    height: 430px;
    
    display: flex;
    margin: auto;
    position: relative;
}

.slideimg3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(unnamed.jpg);
    height: 430px;
    width: 750px;
    margin-right: 10px;
}

.str2{
    height: 430px;
    width: 350px;
     background:-webkit-linear-gradient(bottom, 
    rgba(3, 3, 3, 0.616)5%,rgb(49, 63, 97)35%,
    rgb(88, 101, 126)80%);
    border-radius: 10px;
}

.thumbs{
    text-align: center;
    
}
.thumbs > div{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    display: inline-block;
    background-color: rgb(173, 173, 173);
    height: 10px;
    width: 20px;
    margin-top: 20px;
}
.thumbs > div:hover{
    background-color: white;
}


.arrow-left2{
    background-attachment: scroll;
    background-size: auto;
    display: block;
    position: absolute;
    background-origin: padding-box;
    cursor: pointer;
    background: -webkit-linear-gradient(right, 
    rgba(0,0,0,0)5%,rgba(0,0,0,0.3)95%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    left: -45px;
    top: 170px;
}

.arrow-left2:hover {
    background: -webkit-linear-gradient(right, 
    rgba(0, 0, 0, 0)5%,rgb(95, 161, 192)95%);
}

.arrow-left2 > div {
    background-image: url(arrowl.png);
    width: 20px;
    height: 30px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    display: block;
}



.arrow-right2{
    background-attachment: scroll;
    background-size: auto;
    display: block;
    position: absolute;
    background-origin: padding-box;
    cursor: pointer;
    background: -webkit-linear-gradient(left, 
    rgba(0,0,0,0)5%,rgba(0,0,0,0.3)95%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    right: -45px;
    top: 170px;
    
}
.arrow-right2:hover {
    background: -webkit-linear-gradient(left, 
    rgba(0, 0, 0, 0)5%,rgb(95, 161, 192)95%);
}

.arrow-right2 > div {
    background-image: url(arrow.png);
    width: 20px;
    height: 30px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    display: block;
}


/*--------------------------------------------------------------------------*/


.sign{
    text-align: center;
    display: block;
    padding: 50px;
    background: black;
}
.sign h1{
    color:  #2779a0;
    margin-bottom: 20px;
}
.singbtn{
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px 15px;
    background: rgb(110, 143, 60);
    border-radius: 3px;
    border: none;
    font-size: 15px;
    color: rgb(214, 231, 187);
    text-transform: uppercase;
}
.singbtn:hover{
    background: rgb(134, 172, 60);
    color: white;
}

.sign p1,p2{
    color: rgb(163, 163, 163);
}

.singup{
    color: white;
    font-weight: bold;
}
.lsp{
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}


.textbox{
    color: rgb(216, 215, 215);
    padding: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 13px;
}

.textbox a{
    margin-left: 20px; 
}

.textbox a:hover{
    color: white;
}

.lsp ul{
  margin-top: 10px;
}
.lsp ul a{
    color: rgb(216, 215, 215);
    margin: 10px;
    font-size: 14px;
}

.lsp ul a:hover{
    color: white;
}