*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(171, 171, 185);
}


.header{
    background: linear-gradient(5deg, white 15%, rgb(0, 110, 255)50%,rgb(132, 0, 255) );
    height: 100vh;
}


.Hcontainer{
    width: 100%;
    margin: auto;
    
    background: white;
}

.topbanner{
    position: absolute;
    width: 100%;
    height: 60px;
    top: 2vh;
    
}
.lound{
    max-width: 1100px;
    margin: auto;
}

.topbanner ul{
    float: right;
    
}

.topbanner ul li{
    display: inline-block;
    line-height: 60px;
}

.topbanner ul li a{
    color: white;
    text-decoration: none;
   
    margin-right: 20px;
    font-weight: bold;
    font-size: 13px;
}



.logo{
    color: white;
    margin-left: 30px;
    
    line-height: 55px;
    font-size: 30px;
    font-weight: bold;
}

.button0{
    background: none;
    border: 3px solid white;
    border-radius: 5px;
    margin-right: 10px;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.button0:hover{
    background: rgb(231, 88, 88);
    border: 3px solid rgb(231, 88, 88);
}



.mainbanner{
    text-align: center;
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%);
    color: white;
   
}
h1{
    margin-bottom: 40px;
    font-size: 40px;
}
.button1{
    padding: 20px 30px;
    background: rgb(231, 88, 88);
    border: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px rgb(196, 65, 65);
}

.button1:hover{
    background: rgb(240, 59, 59);
    box-shadow: 0px 3px 0px 0px rgb(253, 0, 0);
}

.row{
    background: white;
    height: 100vh;
    
}

.rowwidth{
    max-width: 1100px;
    height: 100vh;
    border: 1px solid red;
    margin: auto;
}

.stuck.lound{
    max-width: 1100px;
    margin: auto;
     
}
 
.stuck{
    margin: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 2vh;
    z-index: 999;
    
    background: rgba(255, 255, 255, 0.918);
}

.stuck ul{
    float: right;
    
}

.stuck ul li{
    display: inline-block;
    line-height: 60px;
}

.stuck ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 13px;
}

.stuck .logo{
    color: black;
}
.stuck .button0{
    background: none;
    border: 3px solid rgb(248, 78, 78);
    border-radius: 5px;
    margin-right: 10px;
    padding: 15px 20px;
    color: rgb(255, 98, 98);
    font-weight: bold;
    font-size: 13px;
}